* {
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0px;
}
.ui-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 35px 15px 15px 15px;
  -webkit-background-position: center center;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ui-transparency {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  opacity: 0.75;
}
.ui-main {
  position: relative;
  height: 100%;
  width: 100%;
}
.ui-nav {
  top: 0;
  left: 0;
}
.ui-nav .button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #2ecc71;
  font-family: 'entypo';
}
.ui-nav .button.back:before {
  content: '\E765';
  margin-left: 23px;
  color: white;
  font-size: 75px;
}
.ui-nav .text {
  position: absolute;
  top: 23px;
  left: 90px;
  font-family: 'robotothin';
  font-size: 30px;
}
.ui-category {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 15px 0 0 15px;
  border-radius: 50%;
  background-color: #2ecc71;
  font-family: 'entypo';
}
.ui-category .text {
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: 'robotothin';
  font-size: 20px;
}
.ui-category:before {
  content: '';
  position: absolute;
  height: 43px;
  width: 43px;
  margin: 1px 0 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
}
.ui-category.today:after {
  content: '\1F506';
  position: relative;
  left: 9px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-bullet {
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 3;
  margin: 10px 0 0 25px;
  background-color: #2ecc71;
  border-radius: 50%;
}
.ui-bullet .buffer {
  position: absolute;
  height: 23px;
  width: 23px;
  margin: 1px 0 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
}
.ui-bullet .text {
  position: absolute;
  width: 400px;
  /* PLACEHOLDER */
  top: 4px;
  left: 45px;
  font-family: 'robotothin';
  font-size: 15px;
}
.ui-bullet .pie {
  position: absolute;
  height: 17px;
  width: 17px;
  margin-left: 3px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-image: url('../img/DividerCircle.svg');
}
.ui-bullet .pie:before {
  content: '';
  position: absolute;
  margin-left: 8.5px;
  margin-top: -2px;
  height: 21px;
  width: 12.5px;
  z-index: 5;
  background-color: #ffffff;
}
.ui-bullet .pie:after {
  content: '';
  position: absolute;
  margin-left: -4px;
  margin-top: -2px;
  height: 21px;
  width: 12.5px;
  z-index: 5;
  background-color: #ffffff;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.ui-bullet:before {
  content: '';
  position: absolute;
  height: 23px;
  width: 23px;
  margin: 1px 0 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
}
.ui-bullet.full:after {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  margin: 4px 0 0 4px;
  background-color: #2ecc71;
  border-radius: 50%;
}
.entypo {
  font-family: 'entypo';
}
.entypo-social {
  font-family: 'entypo_social';
}
.button {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.button .text {
  position: absolute;
  font-family: 'robotothin';
}
.button.icon-button {
  height: 55px;
  width: 100%;
}
.button.icon-button .text {
  top: 18px;
  left: 85px;
  font-size: 18px;
}
.button.icon-button .icon {
  margin: -5px 0 0 12px;
  font-size: 65px;
}
.button.clear {
  background-color: #ffffff;
  opacity: 0.75;
  color: #111111;
}
.button.facebook {
  background-color: #3b5998;
  color: #ffffff;
}




.welcome-header {
  position: absolute;
  top: 33%;
  width: 100%;
  margin-top: -35px;
  text-align: center;
  font-family: 'robotothin';
  font-size: 45px;
  line-height: 35px;
}
.welcome-header .subheader {
  font-size: 20px;
}
.welcome-signup {
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: #111111;
  text-align: center;
  font-family: 'robotolight';
  font-size: 14px;
}
.welcome-login-email {
  position: absolute;
  bottom: 30px;
}
.welcome-login-facebook {
  position: absolute;
  bottom: 95px;
}
