* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}
html,
body {
  margin: 0;
  padding: 0px;
}
.ui-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.225s ease;
  -moz-transition: -moz-transform 0.225s ease;
  -o-transition: -o-transform 0.225s ease;
  transition: -webkit-transform 0.225s ease,-moz-transform 0.225s ease,-o-transform 0.225s ease,transform 0.225s ease;
}
.ui-container {
  height: 100%;
  width: 100%;
  padding: 35px 15px 15px 15px;
  -webkit-background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ui-container.faded:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
  opacity: 0.8;
}
.ui-main {
  position: relative;
  height: 100%;
  width: 100%;
}
.ui-transparency {
  position: absolute;
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
  z-index: 100;
  background-color: white;
  opacity: 0.8;
}
.ui-transparency.ng-hide-add,
.ui-transparency.ng-hide-remove {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  display: block!important;
}
.ui-transparency.ng-hide-add.ng-hide-add-active,
.ui-transparency.ng-hide {
  opacity: 0;
}
.ui-navigation {
  position: relative;
  left: -25px;
  margin-bottom: 15px;
}
.ui-navigation .button {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #2ecc71;
  font-family: 'entypo';
}
.ui-navigation .button:active {
  background-color: #29b765;
}
.ui-navigation .button.back:before {
  content: '\E765';
  position: absolute;
  top: 10px;
  left: 31px;
  color: white;
  font-size: 75px;
}
.ui-navigation .text {
  position: absolute;
  top: 25px;
  left: 105px;
  font-family: 'robotothin';
  font-size: 45px;
}
.ui-menu {
  position: absolute;
  right: 15px;
  z-index: 101;
  font-family: 'entypo';
}
.ui-menu .icon {
  position: absolute;
  top: 15px;
  right: -30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ui-menu .icon:before {
  content: '\23F6';
  color: #2ecc71;
  font-size: 50px;
}
.ui-menu .icon.ng-hide-add.ng-hide-add-active,
.ui-menu .icon.ng-hide-remove {
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  -o-transition: -o-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease,-moz-transform 0.25s ease,-o-transform 0.25s ease,transform 0.25s ease;
  display: block!important;
}
.ui-menu .icon.ng-hide {
  -webkit-transform: rotate(90deg) translateY(-50px);
  -moz-transform: rotate(90deg) translateY(-50px);
  -o-transform: rotate(90deg) translateY(-50px);
  -ms-transform: rotate(90deg) translateY(-50px);
  transform: rotate(90deg) translateY(-50px);
}
.ui-menu .items {
  position: absolute;
  right: -75px;
}
.ui-menu .items .item {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 0 15px 0;
  border-radius: 50%;
  background-color: #2ecc71;
  font-family: 'entypo';
  -webkit-transform: translateZ(0);
  margin-bottom: 7.5px;
}
.ui-menu .items .item .text {
  position: absolute;
  width: 200px;
  top: 10px;
  left: 55px;
  font-family: 'robotothin';
  font-size: 25px;
  -webkit-transform: translateZ(0);
}
.ui-menu .items .item .pulse {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 55px;
  width: 55px;
  z-index: 5;
  background: url('../img/PulseCircle.svg') no-repeat center center;
  background-size: 55px 55px;
  opacity: .5;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.15s ease-in;
  -moz-transition: opacity 0.3s ease-in-out, -moz-transform 0.15s ease-in;
  -o-transition: opacity 0.3s ease-in-out, -o-transform 0.15s ease-in;
  transition: opacity 0.3s ease-in-out,-webkit-transform 0.15s ease-in,-moz-transform 0.15s ease-in,-o-transform 0.15s ease-in,transform 0.15s ease-in;
}
.ui-menu .items .item:active > .pulse {
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
.ui-menu .items .item:before {
  content: '';
  position: absolute;
  height: 43px;
  width: 43px;
  margin: 1px 0 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
}
.ui-menu .items .item.today:after {
  content: '\1F506';
  position: relative;
  left: 9px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-menu .items .item.tomorrow:after {
  content: '\263D';
  position: relative;
  top: -1px;
  left: 10px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-menu .items .item.month:after {
  content: '\1F4C5';
  position: relative;
  left: 10px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-menu .items .item.settings:after {
  content: '\2699';
  position: relative;
  top: -3px;
  left: 10px;
  color: #2ecc71;
  font-size: 50px;
}
.ui-menu .items .item.logout:after {
  content: '\E741';
  position: relative;
  left: 12px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-menu .items.ng-hide-add,
.ui-menu .items.ng-hide-remove {
  -webkit-transition: -webkit-transform 0.25s ease;
  -moz-transition: -moz-transform 0.25s ease;
  -o-transition: -o-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease,-moz-transform 0.25s ease,-o-transform 0.25s ease,transform 0.25s ease;
  display: block!important;
}
.ui-menu .items:not(.ng-hide) {
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  -o-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
}
.ui-category {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 0 15px 0;
  border-radius: 50%;
  background-color: #2ecc71;
  font-family: 'entypo';
  -webkit-transform: translateZ(0);
}
.ui-category .text {
  position: absolute;
  width: 200px;
  top: 10px;
  left: 55px;
  font-family: 'robotothin';
  font-size: 25px;
  -webkit-transform: translateZ(0);
}
.ui-category .pulse {
  position: absolute;
  top: -5px;
  left: -5px;
  height: 55px;
  width: 55px;
  z-index: 5;
  background: url('../img/PulseCircle.svg') no-repeat center center;
  background-size: 55px 55px;
  opacity: .5;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.15s ease-in;
  -moz-transition: opacity 0.3s ease-in-out, -moz-transform 0.15s ease-in;
  -o-transition: opacity 0.3s ease-in-out, -o-transform 0.15s ease-in;
  transition: opacity 0.3s ease-in-out,-webkit-transform 0.15s ease-in,-moz-transform 0.15s ease-in,-o-transform 0.15s ease-in,transform 0.15s ease-in;
}
.ui-category:active > .pulse {
  opacity: 0;
  visibility: visible;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
.ui-category:before {
  content: '';
  position: absolute;
  height: 43px;
  width: 43px;
  margin: 1px 0 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
}
.ui-category.today:after {
  content: '\1F506';
  position: relative;
  left: 9px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-category.tomorrow:after {
  content: '\263D';
  position: relative;
  top: -1px;
  left: 10px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-category.month:after {
  content: '\1F4C5';
  position: relative;
  left: 10px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-task + .ui-category {
  margin-top: 5px;
}
.ui-task {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ui-task .text {
  position: relative;
  display: inline-block;
  width: 215px;
  top: 4px;
  left: 20px;
  font-family: 'robotothin';
  font-size: 16px;
}
.ui-task .bullet {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #2ecc71;
  border-radius: 50%;
  vertical-align: top;
}
.ui-task .bullet .buffer {
  position: absolute;
  height: 23px;
  width: 23px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
}
.ui-task .bullet .pie {
  position: absolute;
  height: 17px;
  width: 17px;
  margin-left: 3px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-image: url('../img/DividerCircle.svg');
}
.ui-task .bullet .pie:before {
  content: '';
  position: absolute;
  margin-left: 8.5px;
  margin-top: -2px;
  height: 21px;
  width: 12.5px;
  z-index: 5;
  background-color: #ffffff;
}
.ui-task .bullet .pie:after {
  content: '';
  position: absolute;
  margin-left: -4px;
  margin-top: -2px;
  height: 21px;
  width: 12.5px;
  z-index: 5;
  background-color: #ffffff;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.ui-task .bullet:before {
  content: '';
  position: absolute;
  height: 23px;
  width: 23px;
  margin: 1px 0 0 1px;
  background-color: #ffffff;
  border-radius: 50%;
}
.ui-task .bullet.full:after {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  margin: 4px 0 0 4px;
  background-color: #2ecc71;
  border-radius: 50%;
}
.ui-input {
  position: relative;
  display: block;
  background-color: #ffffff;
  font-family: 'entypo';
}
.ui-input > .input {
  position: absolute;
  width: 225px;
  top: 12.5px;
  left: 55px;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'robotothin';
  font-size: 16px;
}
.ui-input > .input:focus {
  outline: 0;
}
.ui-input.active {
  background-color: #2ecc71;
}
.ui-input.name:after {
  content: '\E722';
  position: relative;
  left: 7.5px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-input.email:after {
  content: '\2709';
  position: relative;
  left: 7.5px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-input.username:after {
  content: '\1F464';
  position: relative;
  left: 7.5px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-input.password:after {
  content: '\1F511';
  position: relative;
  left: 7.5px;
  color: #2ecc71;
  font-size: 45px;
}
.ui-button {
  background-color: #2ecc71;
  text-align: center;
  font-family: 'robotolight';
  color: #ffffff;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.ui-button.btn-primary {
  background-color: #2ecc71;
}
.ui-button.btn-primary:active {
  background-color: #29b765;
}
.ui-button.btn-translucent {
  background-color: #ffffff;
  color: #111111;
  opacity: 0.75;
}
.ui-button.btn-translucent:active {
  background-color: #f2f2f2;
}
.ui-button.btn-disabled {
  background-color: #95a5a6;
}
.ui-button.btn-disabled:active {
  background-color: #87999a;
}
.ui-button.btn-warning {
  background-color: #e74c3c;
}
.ui-button.btn-warning:active {
  background-color: #e43725;
}
.ui-button.btn-social.facebook {
  background-color: #3b5998;
}
.ui-button.btn-social.facebook:active {
  background-color: #344e86;
}
.ui-button.standard {
  font-size: 16px;
  margin-left: 55px;
  margin-right: 55px;
  padding: 12px;
}
.ui-button.large {
  font-family: 'robotothin';
  font-size: 18px;
  padding: 16px;
}
.ui-message.validation {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'robotothin';
  font-size: 15px;
}
.ui-message.bottom {
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 20px;
  bottom: -10px;
  color: #111111;
  text-align: center;
  font-family: 'robotolight';
  font-size: 14px;
}
.ui-message.bottom b {
  font-weight: bold;
}
.ui-message.bottom:active {
  color: #919191;
}
.ui-validation {
  height: 35px;
  overflow: hidden;
}
.animationScope.backwards-enter > [ui-view].ng-enter {
  right: 100%;
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
}
.animationScope.backwards-leave > [ui-view].ng-leave-active {
  -webkit-transform: translateX(366px);
  -moz-transform: translateX(366px);
  -o-transform: translateX(366px);
  -ms-transform: translateX(366px);
  transform: translateX(366px);
}
.animationScope.forwards-enter > [ui-view].ng-enter {
  visibility: hidden;
  right: 100%;
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -o-transform: translateX(320px);
  -ms-transform: translateX(320px);
  transform: translateX(320px);
}
.animationScope.forwards-leave > [ui-view].ng-leave-active {
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
}
.animationScope.soft-enter > [ui-view].ng-enter {
  -webkit-animation: ng-enter 0.75s alternate forwards;
  -moz-animation: ng-enter 0.75s alternate forwards;
  -o-animation: ng-enter 0.75s alternate forwards;
  animation: ng-enter 0.75s alternate forwards;
}
.animationScope.soft-leave > [ui-view].ng-leave {
  -webkit-animation: ng-leave 0.25s alternate forwards;
  -moz-animation: ng-leave 0.25s alternate forwards;
  -o-animation: ng-leave 0.25s alternate forwards;
  animation: ng-leave 0.25s alternate forwards;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes ng-leave{ 0%{ opacity: 1; } 50%{ opacity: 0; } 100%{ opacity: 0; } }
@-moz-keyframes ng-leave{ 0%{ opacity: 1; } 50%{ opacity: 0; } 100%{ opacity: 0; } }
@-o-keyframes ng-leave{ 0%{ opacity: 1; } 50%{ opacity: 0; } 100%{ opacity: 0; } }
@keyframes ng-leave{ 0%{ opacity: 1; } 50%{ opacity: 0; } 100%{ opacity: 0; } ;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes ng-enter{ 0%{ opacity: 0; } 100%{ opacity: 1; }}
@-moz-keyframes ng-enter{ 0%{ opacity: 0; } 100%{ opacity: 1; }}
@-o-keyframes ng-enter{ 0%{ opacity: 0; } 100%{ opacity: 1; }}
@keyframes ng-enter{ 0%{ opacity: 0; } 100%{ opacity: 1; };
}




.ptn,
.pvn,
.pan {
  padding-top: 0;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 15px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0;
}
.prx,
.phx,
.pax {
  padding-right: 3px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 15px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 15px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0;
}
.plx,
.phx,
.pax {
  padding-left: 3px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 15px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0px;
}
.mtx,
.mvx,
.max {
  margin-top: 3px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 15px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0px;
}
.mrx,
.mhx,
.max {
  margin-right: 3px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 15px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 15px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0px;
}
.mlx,
.mhx,
.max {
  margin-left: 3px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 15px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}


.welcome-header {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-family: 'robotothin';
  font-size: 45px;
  line-height: 35px;
}
.welcome-header .subheader {
  font-size: 20px;
}
.welcome-facebook-button {
  position: absolute;
  width: 100%;
  bottom: 100px;
  text-align: center;
}
.welcome-facebook-button .text {
  padding-left: 30px;
}
.welcome-facebook-button .icon {
  position: absolute;
  font-family: 'entypo_social';
  font-size: 55px;
  height: 0;
  margin-top: -36px;
}
.welcome-email-button {
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: left;
}
.welcome-email-button .text {
  padding-left: 60px;
}
.welcome-email-button .icon {
  position: absolute;
  font-family: 'entypo';
  font-size: 55px;
  height: 0;
  margin-top: -36px;
}
