@import 'lib/lesshat-prefixed';

@import 'lib/colors';
@import 'lib/fonts';

* {
	.lh-box-sizing(border-box);
	z-index: 10;
}

html, body {
	margin: 0;
	padding: 0px;
}

// Styleguide
//	1. Container Elements
//		1.1 UIRouterView
//		1.2 Container
//		1.3 Main
//	2. Utility Elements
//		2.1 Transparency
//	3. Navigation Components
//		3.1 Navigation
//	4. Organization Components
//		4.1 Category
//		4.2 Task
//	5. UI Components
//		5.1 Button
//		5.2 Message
//		5.3 Validation
//	6. Animations
//		6.1 View Transitions

// UIRouterView: Angular UIRouter view styling. All views are contained within an instance of this class.
//
// Styleguide 1.1

.ui-view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	z-index: 100;
	.lh-transition(transform .225s ease);
}

// Container: Top-level container element within each view. Sized to fit parent UIRouter view.
//
// Styleguide 1.2

.ui-container {
	height: 100%;
	width: 100%;
	padding: 35px 15px 15px 15px;
	-webkit-background-position: center center;
	background-repeat: no-repeat;
	.lh-background-size(cover);

	&.faded:before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: white;
		opacity: 0.8;
	}
}

// Main: All UI components are contained within the ui-main class.
//
// Styleguide 1.3

.ui-main {
	position: relative;
	height: 100%;
	width: 100%;
}

// Transparency: Transparent overlay for main element.
//
// Styleguide 2.1

.ui-transparency {
	position: absolute;
	top: -15px;
	right: -15px;
	bottom: -15px;
	left: -15px;
	z-index: 100;
	background-color: white;
	opacity: 0.8;

	&.ng-hide-add, &.ng-hide-remove {
		.lh-transition(opacity .25s ease);
		display: block!important;
	}

	&.ng-hide-add.ng-hide-add-active, &.ng-hide {
		opacity: 0;
	}
}

// Navigation: Top level navigation for nestable views.
//
// Styleguide 3.1

.ui-navigation {
	position: relative;
	left: -25px;
	margin-bottom: 15px;

	.button {
		height: 90px;
		width: 90px;
		border-radius: 50%;
		background-color: @main;
		font-family: 'entypo';

		&:active {
			background-color: darken(@main, 5%);
		};

		&.back:before{
			content:'\E765';
			position: absolute;
			top: 10px;
			left: 31px;
			color: white;
			font-size: 75px;
		};
	}

	.text {
		position: absolute;
		top: 25px;
		left: 105px;
		font-family: 'robotothin';
		font-size: 45px;
	}
}

// Menu: Side menu for quick access to various application views.
//
// Styleguide 3.2

.ui-menu {
	position: absolute;
	right: 15px;
	z-index: 101;
	font-family: 'entypo';

	.icon {
		position: absolute;
		top: 15px;
		right: -30px;
		width: 30px;
		height: 30px;
		overflow: hidden;
		.lh-transform(rotate(90deg));

		&:before {
			content: '\23F6';
			color: @main;
			font-size: 50px;
		};

		&.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
			.lh-transition(transform .25s ease);
			display: block!important;
		}

		&.ng-hide {
			.lh-transform(rotate(90deg), translateY(-50px));
		}
	}

	.items {
		position: absolute;
		right: -75px;

		.item {
			.ui-category;
			margin-bottom: 7.5px;

			&.settings:after {
				content:'\2699';
				position: relative;
				top: -3px;
				left: 10px;
				color: @main;
				font-size: 50px;
			};	

			&.logout:after {
				content:'\E741';
				position: relative;
				left: 12px;
				color: @main;
				font-size: 45px;
			};		
		}

		&.ng-hide-add, &.ng-hide-remove {
			.lh-transition(transform .25s ease);
			display: block!important;
		}

		&:not(.ng-hide) {
			.lh-transform(translateX(-60px));
		}
	}
}

// Category: Used primarily in the home view, sub-headers for groups of tasks.
//
// Styleguide 4.1

.ui-category {
	position: relative;
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 0 15px 0;
	border-radius: 50%;
	background-color: @main;
	font-family: 'entypo';
	-webkit-transform: translateZ(0);

	.text {
		position: absolute;
		width: 200px;
		top: 10px;
		left: 55px;
		font-family: 'robotothin';
		font-size: 25px;
		-webkit-transform: translateZ(0);
	}

	.pulse {
		position: absolute;
		top: -5px;
		left: -5px;
		height: 55px;
		width: 55px;
		z-index: 5;
		background: url('../img/PulseCircle.svg') no-repeat center center;
		background-size: 55px 55px;
		opacity: .5;
		visibility: hidden;
		.lh-transition(opacity .3 ease-in-out, transform .15 ease-in);
	}

	&:active > .pulse {
		opacity: 0;
		visibility: visible;
		.lh-transform(scale(1.25));
	}

	&:before {
		content: '';
		position: absolute;
		height: 43px;
		width: 43px;
		margin: 1px 0 0 1px;
		background-color: @white;
		border-radius: 50%;
	}

	&.today:after {
		content:'\1F506';
		position: relative;
		left: 9px;
		color: @main;
		font-size: 45px;
	};

	&.tomorrow:after {
		content:'\263D';
		position: relative;
		top: -1px;
		left: 10px;
		color: @main;
		font-size: 45px;
	};

	&.month:after {
		content:'\1F4C5';
		position: relative;
		left: 10px;
		color: @main;
		font-size: 45px;
	};
}

.ui-task + .ui-category {
	margin-top: 5px;
}

// Task: Used to display a single task as a list item, generally under a category.
//
// Styleguide 4.2

.ui-task {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
	.lh-user-select(none);

	.text {
		position: relative;
		display: inline-block;
		width: 215px;
		top: 4px;
		left: 20px;
		font-family: 'robotothin';
		font-size: 16px;
	}

	.bullet {
		display: inline-block;
		width: 25px;
		height: 25px;
		background-color: @main; 
		border-radius: 50%;
		vertical-align: top;

		.buffer {
			position: absolute;
			height: 23px;
			width: 23px;
			margin-top: 1px;
			margin-left: 1px;
			background-color: @white;
			border-radius: 50%;
			overflow: hidden;
		};

		.pie {
			position: absolute;
			height: 17px;
			width: 17px;
			margin-left: 3px;
			margin-top: 3px;
			background-repeat: no-repeat;
			background-size: 17px 17px;
			background-image: url('../img/DividerCircle.svg');

			&:before {
				content: '';
				position: absolute;
				margin-left: 8.5px;
				margin-top: -2px;
				height: 21px;
				width: 12.5px;
				z-index: 5;
				background-color: @white;

			};	

			&:after {
				content: '';
				position: absolute;
				margin-left: -4px;
				margin-top: -2px;
				height: 21px;
				width: 12.5px;
				z-index: 5;
				background-color: @white;
				-webkit-transform: rotate(315deg);
				transform: rotate(315deg);
				-webkit-transform-origin: center right;
				transform-origin: center right;
			};
		}

		&:before {
			content: '';
			position: absolute;
			height: 23px;
			width: 23px;
			margin: 1px 0 0 1px;
			background-color: @white;
			border-radius: 50%;
		};

		&.full:after {
			content: '';
			position: absolute;
			height: 17px;
			width: 17px;
			margin: 4px 0 0 4px;
			background-color: @main;
			border-radius: 50%;
		};
	}
}

// Input. Accept user input.
//
// Styleguide 4.2

.ui-input {
	position: relative;
	display: block;
	background-color: @white;
	font-family: 'entypo';

	&.image {
		height: 87px;
	}

	& > .text-input {
		position: absolute;
		width: 225px;
		top: 12.5px;
		left: 55px;
		border: 0;
		margin: 0;
		padding: 0;
		font-family: 'robotothin';
		font-size: 16px;

		&:focus {
			outline: 0;
		};
	}

	& > .image-input {
		position: absolute;
		width: 75px;
		height: 75px;
		top: 12.5px;
		left: 55px;
		border: 0;
		border-radius: 50%;
		margin: 0;
		padding: 0;
		font-family: 'robotothin';
		font-size: 16px;

		&:focus {
			outline: 0;
		};	
	}

	&.active {
		background-color: @main;
	}

	&.name:after {
		content:'\E722';
		position: relative;
		left: 7.5px;
		color: @main;
		font-size: 45px;
	};

	&.image:after {
		content:'\1F4F7';
		position: relative;
		left: 7.5px;
		color: @main;
		font-size: 45px;
	};

	&.email:after {
		content:'\2709';
		position: relative;
		left: 7.5px;
		color: @main;
		font-size: 45px;
	};

	&.username:after {
		content:'\1F464';
		position: relative;
		left: 7.5px;
		color: @main;
		font-size: 45px;
	};

	&.password:after {
		content:'\1F511';
		position: relative;
		left: 7.5px;
		color: @main;
		font-size: 45px;
	};
}

// Button. A button for users to press.
//
// Styleguide 5.1

.ui-button {
	background-color: @main;
	text-align: center;
	font-family: 'robotolight';
	color: @white;
	.lh-border-radius(5px);

	&.btn-primary {
		background-color: @main;

		&:active {
			background-color: darken(@main, 5%);;
		}
	}

	&.btn-translucent {
		background-color: @white;
		color: @text-dark;
		opacity: 0.75;

		&:active {
			background-color: darken(@white, 5%);;
		}
	}

	&.btn-disabled {
		background-color: @gray;

		&:active {
			background-color: darken(@gray, 5%);;
		}
	}

	&.btn-warning {
		background-color: @red;

		&:active {
			background-color: darken(@red, 5%);;
		}
	}

	&.btn-social {
		&.facebook{
			background-color: @facebook;

			&:active {
				background-color: darken(@facebook, 5%);;
			}

		}
	}

	&.standard {
		font-size: @font-size-button-standard;
		margin-left: 55px;
		margin-right: 55px;
		padding: 12px;
	}

	&.large {
		font-family: 'robotothin';
		font-size: @font-size-button-large;
		padding: 16px;
	}
}

// Message: Displays a particular message to users.
//
// Styleguide 5.2

.ui-message {
	width: 100%;
	height: 50px;
	padding: 20px;
	color: @text-dark;
	text-align: center;
	font-family: 'robotolight';
	font-size: @font-size-message;

	&.validation {
		padding: 0;
		margin-bottom: 50px;
		text-align: center;
		font-family: 'robotothin';
		font-size: 15px;
	}

	&.bottom {
		position: absolute;
		bottom: -10px;

		b {
			font-family: 'robotoregular';
			font-weight: normal;
		}
	}

	&:active {
		color: lighten(@text-dark, 50%);
	};
}

// Validation: Container for validation message.
//
// Styleguide 5.3

.ui-validation {
	height: 35px;
	overflow: hidden;
}

// View Transitions: Animations for views entering and leaving the viewport.
//
// Styleguide 6.1

.animationScope.backwards-enter > [ui-view].ng-enter {
	right: 100%;
	.lh-transform(translateX(-320px));
}

.animationScope.backwards-leave > [ui-view].ng-leave-active {
	.lh-transform(translateX(366px));
}

.animationScope.forwards-enter > [ui-view].ng-enter {
	visibility: hidden;
	right: 100%;
	.lh-transform(translateX(320px));
}

.animationScope.forwards-leave > [ui-view].ng-leave-active {
	.lh-transform(translateX(-320px));
}

.animationScope.soft-enter > [ui-view].ng-enter {
	.lh-animation(ng-enter .75s alternate forwards);
}

.animationScope.soft-leave > [ui-view].ng-leave {
	.lh-animation(ng-leave .25s alternate forwards);
}

.lh-keyframes(~'ng-leave, 0%{ opacity: 1; } 50%{ opacity: 0; } 100%{ opacity: 0; } ');

.lh-keyframes(~'ng-enter, 0%{ opacity: 0; } 100%{ opacity: 1; }');