@import 'lib/lesshat-prefixed';
@import 'lib/colors';

.welcome-header {
	position: absolute;
	top: 33%;
	width: 100%;
	margin-top: -35px;
	text-align: center;
	font-family: 'robotothin';
	font-size: 45px;
	line-height: 35px;

	.subheader {
		font-size: 20px;
	}
}

.welcome-signup {
	position: absolute;
	width: 100%;
	bottom: 0px;
	color: @text-dark;
	text-align: center;
	font-family: 'robotolight';
	font-size: 14px;
}

.welcome-login-email {
	position: absolute;
	bottom: 30px;
}

.welcome-login-facebook {
	position: absolute;
	bottom: 95px;
}