doctype
html
	head
		title Sane

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Peace of mind, one reminder at a time. Launching soon for iOS.")

		meta(property="og:title", content="Sane")
		meta(property="og:description", content="Peace of mind, one reminder at a time. Launching soon for iOS.")
		meta(property="og:type", content="website")
		meta(property="og:url", content="https://www.saneapp.com")
		meta(property="og:image", content="https://www.saneapp.com/images/logo")

		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@saneapp")
		meta(name="twitter:creator", content="@saneapp")
		meta(name="twitter:description", content="Peace of mind, one reminder at a time. Launching soon for iOS.")
		meta(name="twitter:image", content="Peace of mind, one reminder at a time. Launching soon for iOS.")

		link(rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="https://cdn-images.mailchimp.com/embedcode/slim-081711.css")
		link(rel="stylesheet" type="text/css" href="index.css")
	body
		.background
		.row
		.col-md-12.col-xs-12.col-sm-12.blast
			img(src="images/logo.png")
			span Sane is coming soon.
			#mc_embed_signup
				form#mc-embedded-subscribe-form.validate(action="http://saneapp.us3.list-manage1.com/subscribe/post?u=bff89bd907818f6c46ce1944d&amp;id=00eecac736" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
					label(for="mce-EMAIL")
						| Peace of mind, one reminder at a time.
						br
						| Subscribe to receive updates, and a .
					input#mce-EMAIL.email(type="email" value="" name="EMAIL" placeholder="What's your email?" required)
					div(style="position: absolute; left: -5000px;")
						input(type="text" name="b_bff89bd907818f6c46ce1944d_00eecac736" value="")
					.clear
						input#mc-embedded-subscribe.button(type="submit" value="Subscribe" name="subscribe")