.ui-transparency(ng-click="hideMenuIcon()" ng-show="iconClicked")
.ui-menu(ng-hide="hideMenu")
	.icon(ng-click="clicked()" ng-hide="iconClicked")
	.items(ng-show="iconClicked")
		.item.settings(ng-click="state.goTo('settings').from('home');")
			.pulse
		.item.logout(ng-click="logout()")
			.pulse

