doctype
html
  head
    title Sane
    meta(name='description', content='Extremely simple collaboration.')
    link(rel='stylesheet' href='styles/main.css' type='text/css')
    script(src='//localhost:35729/livereload.js')
  body
    header.navbar
      span.icon.large.menu
      .brand Activity
    main