<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ryanmiller.sane" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sane</name>
    <description>
        The simple, beautiful way to share and remember tasks.
    </description>
    <author email="hi@saneapp.com" href="http://saneapp.com">
        Sane Team
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="org.apache.cordova.facebook.Connect">
        <param name="ios-package" value="FacebookConnectPlugin" />
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="disallowoverscroll" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="white" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/Default~iphone.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1496" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
    <gap:splash gap:platform="ios" height="748" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
    <gap:splash gap:platform="ios" height="2008" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
    <gap:splash gap:platform="ios" height="1004" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
    <access origin="http://162.242.229.57:3000" />
</widget>
