doctype
html
  head
    title Sane
    meta(name='description', content='Extremely simple collaboration.')
    meta(name="viewport" content="width=device-width, user-scalable=no")
    link(rel='stylesheet' href='styles/main.css' type='text/css')
    .splash
        h1.heading Sane is coming soon.
