.ui-container
	.ui-main
		.ui-navigation
			.button.back(ng-click="state.goBack();")
			.text Recover
		form(name="forgotPasswordForm", novalidate)
			.ui-input.email
				input.input(placeholder="Email", name="email", ng-model="user.email", type="text", autocapitalize="none", required)
		.ui-button.btn-primary.standard.mtm.mbm(ng-click="showValidation = true; recoverPassword();") Recover
		.ui-validation(ng-show="showValidation")
				.ui-message.validation(ng-show="forgotPasswordForm.email.$pristine") Sorry, we need your email!
				.ui-message.validation(ng-show="recoverySuccess") Success! Check your email for the reset link.
				.ui-message.validation(ng-show="serverError") Mayday! There was an error.