.ui-container
	.ui-main
		.ui-category.today
			.text Today
		.ui-task
			.bullet
			.text Get milk.
		.ui-task
			.bullet.full
			.text Get CSS completely rendered.
		.ui-task.half
			.bullet
				.buffer
					.pie
			.text Finalize design framework.
		.ui-category.tomorrow
			.text Tomorrow
		.ui-task
			.bullet
			.text Get milk.
		.ui-task
			.bullet.full
			.text In short, though, when you float an element, you take it out of the document flow. When all elements in a (non-floated) container are floated, the parent thinks it doesn't have any children, and therefore collapses.
		.ui-task.half
			.bullet
				.buffer
					.pie
			.text Finalize design framework.
		.ui-category.month
			.text This Week
		.ui-task
			.bullet
			.text Get milk.
		.ui-task
			.bullet.full
			.text Get CSS completely rendered.
		.ui-task.half
			.bullet
				.buffer
					.pie
			.text Finalize design framework.
		.ui-category.month
			.text This Month
		.ui-task
			.bullet
			.text Get milk.
		.ui-task
			.bullet.full
			.text Get CSS completely rendered.
		.ui-task.half
			.bullet
				.buffer
					.pie
			.text Finalize design framework.