.ui-status-bar
.ui-container
	.ui-main
		.ui-nav
			.button.back(ng-click="state.goBack();")
			.text Login
			.menu
		form(name="loginForm", novalidate)
			.ui-input.username
				input.input(placeholder="Username", name="username", ng-model="user.username", type="text", autocapitalize="none", required)
			.ui-input.password
				input.input(placeholder="Password", name="password", ng-model="user.password", type="password", autocapitalize="none", required)
		.ui-button.medium.full(ng-click="showValidation = true; login();") Login
		.ui-validation(ng-show="showValidation")
				.ui-validation-message(ng-show="loginForm.username.$pristine") Sorry, we need your username!
				.ui-validation-message(ng-show="loginForm.password.$pristine") Sorry, we need your password!
				.ui-validation-message(ng-show="serverError") Mayday! There was an error.
		.welcome-signup 
			| Don't have an account? 
			a(class="ui-fake-link", ng-click="state.goTo('signup')") Sign up.