.ui-container
	.ui-main
		.ui-nav
			.button.back(ui-sref="welcome")
			.text Home
		.ui-category.today
			.text Today
		.ui-bullet
			.text Get milk.
		.ui-bullet.full
			.text Get CSS completely rendered.
		.ui-bullet.half
			.buffer
				.pie
			.text Finalize design framework.