.ui-container
	.ui-main
		.ui-navigation
			.button.back(ng-click="state.goBack();")
			.text Login
		form(name="loginForm", novalidate)
			.ui-input.email
				input.text-input(placeholder="Email", name="email", ng-model="user.email", type="text", autocapitalize="none", required)
			.ui-input.password
				input.text-input(placeholder="Password", name="password", ng-model="user.password", type="password", autocapitalize="none", required)
		.ui-button.btn-primary.standard.mtm(ng-click="showValidation = true; login();") Login
		.ui-message(ng-click=("state.goTo('forgotpassword').from('login');")) I forgot my password.
		.ui-validation(ng-show="showValidation")
				.ui-message.validation(ng-show="loginForm.email.$pristine") Sorry, we need your email!
				.ui-message.validation(ng-show="loginForm.password.$pristine") Sorry, we need your password!
				.ui-message.validation(ng-show="serverError") Mayday! There was an error.
		.ui-message.bottom(ng-click="state.goTo('signup')")
			| Don't have an account? 
			b Sign up.