.ui-container
	.ui-main
		.ui-navigation
			.button.back(ng-click="state.goBack();")
			.text Settings
		.ui-input.name
			input.text-input(placeholder="Name", name="name", ng-model="user.name", type="text", autocapitalize="none", required)
		.ui-input.image
			img.image-input(ng-src="{{user.image}}", name="image")
		.ui-input.username
			input.text-input(placeholder="Username", name="username", ng-model="user.username", type="text", autocapitalize="none", required)
		.ui-button.btn-primary.standard.mtm(ng-click="showValidation = true; login();") Update