.container.max.background(ng-style="{{backgroundImageUrl}}")
	.trans
	.welcome
		.row.greeting Sane
			.sub Reminders for humans.
		.row.facebook
			button.btn.btn-block.btn-lg.btn-info.facebook(type="button") 
				div.icon.fb &#62221; 
				span Login with Facebook
		.row.email
			button.btn.btn-block.btn-lg.btn-primary.email(type="button") 
				div.icon.email &#9993;
				span Login with Email
		.row.signup
			| Don't have an account? 
			a(href="https://www.google.com") Sign up
			| .
