.container.max.background(ng-style="{{backgroundImageUrl}}")
	.trans
	.welcome
		.row.greeting Sane
			.sub Reminders for humans.
		.row.facebook
			button.btn.btn-block.btn-lg.btn-info.facebook(type="button") Login with Facebook
		.row.email
			button.btn.btn-block.btn-lg.btn-primary.email(type="button") Login with Email
		.row.signup
			| Don't have an account?
			| Sign up.
