.ui-container(ng-style="{{backgroundImageUrl}}")
	.ui-transparency
	.ui-main
		.welcome-header Sane
			.subheader Reminders for humans.
		.welcome-signup 
			| Don't have an account? 
			a(class="ui-fake-link", href="#/signup") Signup.
		.welcome-login-facebook.button.icon-button.facebook(ng-click="fbLogin()")
			.icon.entypo-social &#62221;
			.text Login with Facebook
		.welcome-login-email.button.icon-button.clear(ui-sref="login")
			.icon.entypo &#9993;
			.text Login with Email