.ui-container(ng-style="{{backgroundImageUrl}}").faded
	.ui-main
		.welcome-header Sane
			.subheader Reminders for humans.
		.ui-button.btn-social.facebook.large.icon.welcome-facebook-button(ng-click="fbLogin();") 
			.text Login with Facebook
			.icon &#62221;
		.ui-button.btn-translucent.large.icon.welcome-email-button(ng-click="state.goTo('login').from('welcome')")
			.text Login with Email
			.icon &#9993;
		.ui-message.bottom(ng-click="state.goTo('signup').from('welcome')")
			| Don't have an account? 
			b Sign up.